body {
    background: linear-gradient(to right, #a8edea, #fed6e3);
    font-family: Arial, sans-serif;
}

#sidebar {
    transition: all 0.3s;
}

#sidebar.d-none {
    margin-left: -250px;
}

.container {
    max-width: 1200px;
}

.error {
    color: red;
    text-align: center;
}